

<div class="container" [hidden]="mostrarLista">
  <h3>Datos del auto</h3>

  <div class="row">
    <div class="col-md-4">
      <label for="txtPatente">Patente</label>
      <input type="text" name="txtPatente" id="txtPatente" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtMarca">Marca</label>
      <input type="text" name="txtMarca" id="txtMarca" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtAño">Año</label>
      <input type="number" name="txtAño" id="txtAño" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtModelo">Modelo</label>
      <input type="text" name="txtModelo" id="txtModelo" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtColor">Color</label>
      <input type="text" name="txtColor" id="txtColor" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="ckAC">Aire acondicionado</label>
      <input type="checkbox" name="ckAC" id="ckAC" class="form-control" />
    </div>
  </div>

  <br />
  <h3>Datos del Seguro</h3>
  <div class="row">
    <div class="col-md-4">
      <label for="txtPoliza">Poliza Nº</label>
      <input type="text" name="txtPoliza" id="txtPoliza" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtVencimientoPoliza">Vencimiento poliza</label>
      <input type="date" name="txtVencimientoPoliza" id="txtVencimientoPoliza" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtAseguradora">Compañía Aseguradora</label>
      <input type="text" name="txtAseguradora" id="txtAseguradora" class="form-control" />
    </div>
  </div>

  <br />
  <h3>Datos del Chofer</h3>

  <div class="row">
    <div class="col-md-4">
      <label for="txtChofer">Nombre</label>
      <input type="text" name="txtChofer" id="txtChofer" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtDniChof">DNI</label>
      <input type="text" name="txtDniChof" id="txtDniChof" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtTelefonoChof">Telefono</label>
      <input type="text" name="txtTelefonoChof" id="txtTelefonoChof" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtVencimientoRegistro">Vencimiento registro</label>
      <input type="date" name="txtVencimientoRegistro" id="txtVencimientoRegistro" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtCalle1">Calle</label>
      <input type="text" name="txtCalle1" id="txtCalle1" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtNumero1">Numero</label>
      <input type="text" name="txtNumero1" id="txtNumero1" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtPiso1">Piso</label>
      <input type="text" name="txtPiso1" id="txtPiso1" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtDepto1">Depto</label>
      <input type="text" name="txtDepto1" id="txtDepto1" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtCp1">Codigo postal</label>
      <input type="text" name="txtCp1" id="txtCp1" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtLocalidad1">Localidad</label>
      <input type="text" name="txtLocalidad1" id="txtLocalidad1" class="form-control" />
    </div>
    <br />
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
      <H3>Datos del Dueño </H3>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="alert alert-info"><i class="far fa-copy"></i> Copiar los datos del Chofer</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="txtDueño">Nombre</label>
      <input type="text" name="txtDueño" id="txtDueño" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtDniDueño">DNI</label>
      <input type="text" name="txtDniDueño" id="txtDniDueño" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtTelefonoDueño">Telefono</label>
      <input type="text" name="txtTelefonoDueño" id="txtTelefonoDueño" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtCalle2">Calle</label>
      <input type="text" name="txtCalle2" id="txtCalle2" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtNumero2">Numero</label>
      <input type="text" name="txtNumero2" id="txtNumero2" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtPiso2">Piso</label>
      <input type="text" name="txtPiso2" id="txtPiso2" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtDepto2">Depto</label>
      <input type="text" name="txtDepto2" id="txtDepto2" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtCp2">Codigo postal</label>
      <input type="text" name="txtCp2" id="txtCp2" class="form-control" />
    </div>
    <div class="col-md-4">
      <label for="txtLocalidad2">Localidad</label>
      <input type="text" name="txtLocalidad2" id="txtLocalidad2" class="form-control" />
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-md-4">
      <button name="cmdCancelar" id="cmdCancelar" class="btn btn-default" (click)="Cancelar()"><i class="fas fa-ban" ></i> Cancelar</button>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <button name="cmdAceptar" id="cmdAceptar" class="btn btn-default"><i class="far fa-save"></i> Aceptar</button>
    </div>
  </div>
  <br />
  <br />

</div>

<table class='table' *ngIf="mostrarLista">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <!--<tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>-->
  </tbody>
</table>
