<div class="container">
  <div class="row">
    <div class="col-md-4">
      <label for="txtTotEfectivo">Total Efectivo</label>
      <input type="text" name="txtTotEfectivo" id="txtTotEfectivo" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="txtTotCtacte">Total Cta Cte</label>
      <input type="text" name="txtTotCtacte" id="txtTotCtacte" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="txtTot">Total</label>
      <input type="text" name="txtTot" id="txtTot" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="txtComision">Comision</label>
      <input type="text" name="txtComision" id="txtComision" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="txtCantViajes">Cantidad de viajes</label>
      <input type="text" name="txtCantViajes" id="txtCantViajes" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="txtTotCtacte2">Total Cta Cte</label>
      <input type="text" name="txtTotCtacte2" id="txtTotCtacte2" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="txtComision2">Comision</label>
      <input type="text" name="txtComision2" id="txtComision2" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="txtCargosFijos">Cargos fijos</label>
      <input type="text" name="txtCargosFijos" id="txtCargosFijos" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="txtSaldoCtacte">Saldo Cta Cte</label>
      <input type="text" name="txtSaldoCtacte" id="txtSaldoCtacte" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="txtSaldoAnt">Saldo anterior auto</label>
      <input type="text" name="txtSaldoAnt" id="txtSaldoAnt" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="txtSaldoFinalCtacte">Saldo final Cta Cte auto</label>
      <input type="text" name="txtSaldoFinalCtacte" id="txtSaldoFinalCtacte" class="form-control">
    </div>
  </div>

  <br />
  <br />
  <label>saldo - a favor agencia + a favor chofer</label>
  <br />

  <div class="row">
    <div class="col-md-4">
      <button name="cmdCancelar" id="cmdCancelar" class="btn btn-info"><i class="fas fa-ban"></i> Cancelar</button>
    </div>
    <div class="col-md-4">
      <button name="cmdImprimir" id="cmdImprimir" class="btn btn-info"><i class="fas fa-print"></i> Imprimir</button>
    </div>
    <div class="col-md-4">
      <button name="cmdGuardar" id="cmdGuardar" class="btn btn-info"><i class="far fa-save"></i> Guardar cierre</button>
    </div>
  </div>
</div>
